body {
  background-color:#f3f3f3 !important;
}

.header {
  background-color:#2196F3;
  color:#FFFFFF;
}
.index-panel {
  height:440px;
  box-shadow:0 1px 2px 0 rgba(0,0,0,.25) !important;
}
.content-area {
  padding-top:40px;
}
.header small {
  color:#ffffff;
}
.row .panel-post {
  box-shadow:0 1px 2px 0 rgba(0,0,0,.25);
}
.header a {
  color:#ffffff;
  text-decoration:none;
}

.header a:hover {
  color:#f3f3f3;
  text-decoration:none;
}

row .panel-heading-core{
 border:none;
}

