body {
  background-color:#f3f3f3 !important;
}
header {
    background-color:#2196F3;
    color:#FFFFFF;
}

footer{
  background-color:#ffffff;
}

.index-panel {
  height:440px;
  box-shadow:0 1px 2px 0 rgba(0,0,0,.25) !important;
   border:none;
}

.content-area {
  padding-top:40px;
}

.header small {
  color:#ffffff;
}

.row .panel-post {
  box-shadow:0 1px 2px 0 rgba(0,0,0,.25);
}

.header a {
  color:#ffffff;
  text-decoration:none;
}

.header a:hover {
  color:#f3f3f3;
  text-decoration:none;
}

.panel-heading-core{
  font-size:24px;
}

.float-right{
  float:right;
}

.float-left{
  float:left;
}

.header .h1 {
  
    padding: 0 15px;
}

.no-decorations li {
  list-style-type:none;
}

#header-icon {
  width: 36px;
  vertical-align: bottom;
}

.footer-content {
  margin:25px 0;
}

.footer-content a {
  padding-right:15px;
}
