.header {
  background-color:#2196F3;
  color:#FFFFFF;
}
.index-panel {
  margin-right:35px;
  height:440px;
  width:20% !important;
  box-shadow:0 1px 2px 0 rgba(0,0,0,.25) !important;
}
.content-area {
  background-color:#F3F3F3;
  padding-top:40px;
}
.header small {
  color:#ffffff;
}

.header a {
  color:#ffffff;
  text-decoration:none;
}

.header a:hover {
  color:#f3f3f3;
  text-decoration:none;
}
