
<!DOCTYPE html>
<html>
	<head>
<!DOCTYPE html>
<html>
	<head>
			<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	</head>
	<body>
		<header>
			<div class="container">
				<div class="header row">
					<div class="col-md-6">
						 <div class="h1">
						 	<a href="http://www.google.de"><img src="/img/iconmonstr-weather-85.svg" id="header-icon"></img>Firma.</a>
						 	<small>
						 		<a href="/">Hilfe Center</a>
						 	</small>
						 
						 </div>
					</div>
					<div class="col-md-6">
						<div class="h1" style="text-align:right;">
						 	<small>
						 		<a href="mailto:something@gmail.com">Senden Sie uns eine E-Mail</a>
						 	</small>
						 </div>
					</div>
			        </div>
				
			</div>
		</header>
		<div class="container content-area" id="content">
				{{content}}
		</div>
		<footer>
    			<div class="container">
    				<div class="row">
    					<div class="col-md-12">
    						<span>
    							<a href="/">Impressum</a>
    							<a href="/">Hilfe Center</a>
    							<a href="/">Homepage</a>
    						  	<span class="float-right"><img src="/img/iconmonstr-weather-85.svg"></img>@Firma</span>
    						</span>
    					</div>
    				</div>
    			</div>
		</footer>
	</body>
</html>
