
<!DOCTYPE html>
<html>
	<head>
<!DOCTYPE html>
<html>
	<head>
			<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	</head>
	<body>
		<header>
			<div class="container">
				<div class="header row">
					<div>
						 <h1>
						 	<a href="http://www.google.de">Firma.</a>
						 	<small>
						 		<a href="/">Hilfe Center</a>
						 	</small>
						 	<small class="float-right"><a href="mailto:something@gmail.com">email us</a></small>
						 </h1>
						 
					</div>
			        </div>
				
			</div>
		</header>
		<div class="container content-area">
				{{content}}
		</div>
		<footer>
    		<ul>
        		<li><a href="mailto:something@gmail.com">email</a></li>
        		<li><a href="https://github.com/opaldes">github.com/opaldes</a></li>
			</ul>
		</footer>
	</body>
</html>
